<header class="flex justify-between items-center px-6 pt-8 pb-4 rounded-b-xl bg-primary-light dark:bg-primary-dark">
  <!-- user menu button -->
  <div (click)="toggleUserMenu()" class="flex justify-center items-center text-xl font-semibold rounded-full w-9 h-9 text-bg-light dark:text-black bg-secondary-light dark:bg-primary-light cursor-pointer">
    <p>{{ userInitials }}</p>
  </div>
  <!-- app title -->
  <div class="flex justify-center items-center gap-2 flex-grow cursor-default">
    <p class="text-xl font-bold dark:text-bg-light">APD Calculator</p>
    <img src="/assets/images/apd-bg-transparent.svg" alt="" width="36">
  </div>
  <!-- theme switching button -->
  <div class="dark:text-bg-light cursor-pointer" (click)="toggleDarkMode()">
    @if (isDarkMode) {
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-9 h-9">
          <path d="M12 2.25a.75.75 0 0 1 .75.75v2.25a.75.75 0 0 1-1.5 0V3a.75.75 0 0 1 .75-.75ZM7.5 12a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM18.894 6.166a.75.75 0 0 0-1.06-1.06l-1.591 1.59a.75.75 0 1 0 1.06 1.061l1.591-1.59ZM21.75 12a.75.75 0 0 1-.75.75h-2.25a.75.75 0 0 1 0-1.5H21a.75.75 0 0 1 .75.75ZM17.834 18.894a.75.75 0 0 0 1.06-1.06l-1.59-1.591a.75.75 0 1 0-1.061 1.06l1.59 1.591ZM12 18a.75.75 0 0 1 .75.75V21a.75.75 0 0 1-1.5 0v-2.25A.75.75 0 0 1 12 18ZM7.758 17.303a.75.75 0 0 0-1.061-1.06l-1.591 1.59a.75.75 0 0 0 1.06 1.061l1.591-1.59ZM6 12a.75.75 0 0 1-.75.75H3a.75.75 0 0 1 0-1.5h2.25A.75.75 0 0 1 6 12ZM6.697 7.757a.75.75 0 0 0 1.06-1.06l-1.59-1.591a.75.75 0 0 0-1.061 1.06l1.59 1.591Z" />
        </svg>
      </div>
    } @else {
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-9 h-9">
          <path fill-rule="evenodd" d="M9.528 1.718a.75.75 0 0 1 .162.819A8.97 8.97 0 0 0 9 6a9 9 0 0 0 9 9 8.97 8.97 0 0 0 3.463-.69.75.75 0 0 1 .981.98 10.503 10.503 0 0 1-9.694 6.46c-5.799 0-10.5-4.7-10.5-10.5 0-4.368 2.667-8.112 6.46-9.694a.75.75 0 0 1 .818.162Z" clip-rule="evenodd" />
        </svg>
      </div>

    }
  </div>
</header>
@if (isUserMenuOpen) {
  <section class="z-10 bg-bg-light dark:bg-bg-dark dark:text-bg-light w-full rounded-xl p-8 relative sm:w-3/4 md:w-1/2 lg:w-1/3">
    <div (click)="closeUserMenu()" class="absolute top-0 right-0">
      <app-close-button class=""></app-close-button>
    </div>
    <app-user-menu [userInfo]="userInfo" (closeUserMenu)="closeUserMenu()"></app-user-menu>
  </section>
}
