<div class="h-16 w-full flex items-center gap-2 p-1 rounded-lg bg-gradient-light dark:bg-gradient-dark dark:text-bg-light">
  <div>
    <app-edit-button
      [variant]=true
      [parentId]="parentId"
      entityType="ductSection"
      [entityId]="ductData.id"
    ></app-edit-button>
  </div>
  <div class="flex flex-col flex-grow">
    <div class="flex-grow text-center font-semibold ">
      <h3>{{ name }}</h3>
    </div>
    <div class="flex justify-between items-end gap-2">
      <div class="text-sm">
        <p>Matériau : <span>{{ material.getMaterialName() }}</span></p>
        <p>Pdc total : <span>{{ totalApd.getValue() }}</span> Pa</p>
      </div>
      <div>
        <app-more-button
          [url]="url"
        ></app-more-button>
      </div>
    </div>
  </div>
</div>
