<app-navbar class=" w-full"></app-navbar>

<div class="m-4 flex flex-wrap gap-4">
  <app-edit-button></app-edit-button>
  <app-edit-button [variant]=true></app-edit-button>
  <app-more-button></app-more-button>
  <app-add-button></app-add-button>
  <app-back-button></app-back-button>
  <app-close-button></app-close-button>
  <app-delete-button></app-delete-button>
  <app-theme-button></app-theme-button>
  <app-text-button content="ajouter un projet"></app-text-button>
  <app-data-result type='flowspeed'></app-data-result>
  <app-project-card></app-project-card>
  <app-list-card></app-list-card>
</div>

<router-outlet></router-outlet>
