<section class="flex justify-between items-start m-2 border rounded-lg border-primary-light dark:border-primary-dark dark:text-bg-light">
  <div>
    <app-edit-button></app-edit-button>
  </div>
  <div class="p-2 flex flex-col gap-2">
    <h1 class="text-center font-bold text-xl">{{ project.name }}</h1>
    <app-data-result [data]="project.generalAltitude"></app-data-result>
    <app-data-result [data]="project.generalTemperature"></app-data-result>
  </div>
  <div>
    <app-back-button [url]="['projets']"></app-back-button>
  </div>
</section>
<section class="flex flex-col gap-2 m-2 mb-4">
  @for (ductNetwork of ductNetworks; track $index) {
    <app-list-card [ductData]="ductNetwork"></app-list-card>
    <app-list-card [ductData]="ductNetwork"></app-list-card>
  }
</section>
<div class="relative">
  <app-add-button
    class="fixed bottom-8 right-8"
    [parentId]="project.id"
    entityType="ductNetwork"
  ></app-add-button>
</div>
